body {
    background-color: #ffe8a8;
    font-family: Arial, sans-serif;
}

h1 {
    border-bottom: 1px solid blue;
}

h1, h2 {
    color: red;
    font-family: "Protest Guerrilla", sans-serif;
}

blockquote {
    background-color: lightblue;
    padding: 1rem;
}

p {
    margin-left: 50px;
}

img.side {
    float: right;
    margin: 0 12px;
}

/* *{ 
    border: 1px solid gray;
}*/